html{
    background-color: #F1F1F1!important;
}

.nav-extended {
    background-color: #222431!important;
    position: fixed;
    top: 0;
}

#sidenav-overlay {
    position: relative!important;
    background-color: rgba(0, 0, 0, 0)!important;
}

.brand-logo {
    font-family: "Raleway";
}

.latterNav {
    margin-top: 30%;
}

.meuPerfil {
    margin: 3%;
    padding: 1%;
}

#imgPerfil {
    max-width: 100%!important;
    border: solid 1px gray;
    border-radius: 8px;
}

#namePerfil , #agePerfil , #statusCivil , #phonePerfil {
    font-family: "Raleway";
    font-size: 15pt;
}

textarea {
    margin-top: 2%!important;
    resize: none;
    min-height: 200px!important;
    border-radius: 7px;
    text-align: justify;
}

#myPost {
    border: 1px solid gray;
    border-radius: 10px!important;
    margin-top: 2%;
    font-size: 18pt;
    height: auto!important;
    min-height: 10px!important;
}

.divPost {
    background-color: blue;
    color: wheat;
}

#divAll , #divBestPost {
    margin-top: 2%!important;
}

.divDados {
    border-radius: 8px;
    background-color: white;
    margin: 1%;
    padding: 1%;
}

.nameForPost {
    font-family: "Montserrat";
    font-size: 15pt;
    text-align: center;
}

#moreInformationPost {
    position: relative;
    margin-left: 80%!important;
}

