html{
    background-color: #F1F1F1!important;
}

.nav-extended {
    background-color: #222431!important;
    position: fixed;
    top: 0;
}

#sidenav-overlay {
    position: relative!important;
    background-color: rgba(0, 0, 0, 0)!important;
}

.brand-logo {
    font-family: "Raleway";
}

.latterNav {
    margin-top: 30%;
}

.meuPerfil {
    margin: 3%;
    padding: 1%;
}

.imgPerfil {
    width: 100%!important;
    border: solid 1px gray;
    border-radius: 8px;   
    background-image: url("../img/users/default.png");
}

#myImage{
    width: 100%!important;
}
#imagem {
    background-image: url("../img/users/default.png");
    display: none;
    width: 100%!important;
    text-align: center;
}

#imagemCad {
    display: none;
}


#namePerfil , #agePerfil , #statusCivil , #phonePerfil {
    font-family: "Raleway";
    font-size: 15pt;
}

textarea {
    margin-top: 2%!important;
    resize: none;
    min-height: 75px!important;
    border-radius: 7px;
    text-align: justify;
    padding: 1%!important;
    margin: 2%;
}

#myPost {
    border: 1px solid gray;
    border-radius: 10px!important;
    margin-top: 2%;
    font-size: 18pt;
    height: auto!important;
    min-height: 10px!important;
}

.divPost {
    background-color: blue;
    color: wheat;
}

#divAll , #divBestPost {
    margin-top: 2%!important;
}

.divDados {
    border-radius: 8px;
    background-color: white;
    margin: 1%;
    padding: 10px;
}

.nameForPost {
    font-weight: bold;
    font-family: "Montserrat";
    font-size: 20pt;
    text-align: center;
}

.postoForPost{
    font-size: 17pt;
    text-align: justify;

}

#moreInformationPost {
    position: relative;
    margin-left: 80%!important;
}

.imgPost {
    /* text-align: center;
    max-width: 50%!important;
    height: 100%!important; */
}

.fileUp{
    display: none!important;
}

.titlePostPic{
    border: 1px solid red!important;
}

#userGeral {
    display: none;
}

#modalAlterarPhoto{
    width: 100%!important;
    height: 500px!important;
}

.modalChange {
    margin-top: 20%!important;
}

#mailPerfil {
    font-weight: bold;
    font-size: 18pt;
}

#myPosts{
    overflow: auto;
}

.firstDivMyPost{
    background-color: white;
    padding: 1%!important;
    margin: 1%!important;
    border-radius: 8px;
}

.myPostName {
    font-weight: bold!important;
    font-size: 18pt!important;
    font-family: "Ubuntu"!important;
}

.myPostPost {
    font-weight: bold!important;
    font-size: 16pt!important;
    font-family: "Montserrat"!important;
}

.modalPicture {
    height: 300px;
}