<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
        <link rel="stylesheet" type="text/css" href="../css/login.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat|Raleway|Ubuntu" rel="stylesheet">
        <link href="../Materialize/css/materialize.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="../js/libs/jquery.js"></script>
        <script src="../cordova.js"></script>
        <script src="../js/controllers/UserController.js"></script>
        <script src="../js/modulos/user.js"></script>
        <script src="../js/ultils/Dialog.js"></script>
        <script src="../js/ultils/DeterminateProgressDialog.js"></script>
        <script src="../js/ultils/IndeterminateProgressDialog.js"></script>
    </head>

    <body>
        <div class="row">
            <div class="col s1"></div>
            <div class="divCadastro col s10">
                <input type="text" id="nameCad" placeholder="Nome">
                <input type="number" id="phoneCad" placeholder="Telefone">
                <input type="text" id="loginCad" placeholder="Usuário">
                <input type="date" id="dataCad" placeholder="Data de nascimento">
                <input type="password" id="passCad" placeholder="Senha" >
                <input type="password" id="passCad1" placeholder="Senha ">
                <span class="col s4"></span><button onclick="addUser()" class="col s4 btn">Enviar</button>
            </div>
        </div>
    </body>

</html>
