<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
        <link rel="stylesheet" type="text/css" href="../css/telaAdmin.css">
        <link rel="stylesheet" type="text/css" href="../css/chat.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat|Raleway|Ubuntu" rel="stylesheet">
        <link href="../Materialize/css/materialize.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="../css/dropzone/dropzone.css" rel="stylesheet" />
        <link href="../css/dropzone/basic.css" rel="stylesheet" />
        <script src="../js/libs/jquery.js"></script>
        
        <script src="../js/crud/Crud.js"></script>
        <script src="../cordova.js"></script>
        <script src="../js/controllers/UserController.js"></script>
        <script src="../js/modulos/user.js"></script>
        <script src="../js/controllers/DadosController.js"></script>
        <script src="../js/modulos/adm.js"></script>
        <script src="../js/ultils/Dialog.js"></script>
        <script src="../js/ultils/DeterminateProgressDialog.js"></script>
        <script src="../js/ultils/IndeterminateProgressDialog.js"></script>
        <script src="../js/modulos/geolocation.js"></script>
        <script src="../js/libs/dropzone/dropzone.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDuKKTb__rcXpv0DgoOrEi7gFuGzUE0bQ0"></script>
    </head>
    <body onload="loadDataChat()" > 

        <nav class="nav-extended">
            <div class="nav-wrapper">
                <a href="#" class="brand-logo">talk Us</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

                <ul class="side-nav" id="mobile-demo">
                    <li><a href="telaAdm.html"><i class="material-icons">home</i>Inicio</a></li>
                    <li><a href="#"><i class="material-icons">share</i>Compartilhar</a></li>
                    <li><a onclick="getOutApp()" ><i class="material-icons">exit_to_app</i>Sair</a></li>
                </ul>
            </div>
            <div class="nav-content">
                <ul class="tabs tabs-transparent">
                    <li class="tab"><a href="#perfilUserTalk"><i class="material-icons">person_outline</i></a></li>
                    <li class="tab"><a href="#chatUser" class="active"> <i class="material-icons">message</i></a></li>
                </ul>
            </div>
        </nav>

        <div class="latterNav">
            <div id="perfilUserTalk">
                <div id="perfilUser2" class="row ">

                </div>
            </div>

            <!-- DIV CHAT -->
            <div id="chatUser">

                <ul id="dataMessage" class="row">

                </ul>

                <div class="fixed-action-btn horizontal">
                    <a class="btn-floating btn-large red">
                        <i class="large material-icons">menu</i>
                    </a>
                    <ul>
                        <li><a onclick="app.capturePhoto()" class="btn-floating green"><i class="material-icons">camera</i></a></li>
                        <li><a href="#modalSendMessageChat" class="btn-floating yellow darken-1"><i class="material-icons">mode_edit</i></a></li>
                        <li><a href="#sendFileChat" class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- MODAL ENVIAR TEXTO -->
        <div id="modalSendMessageChat" class="modal bottom-sheet">
            <div class="modal-content">
                <textarea  class="col s10" type="text" id="messageChat" placeholder="Talk .."></textarea>
            </div>
            <div class="modal-footer">
                <a onclick="sendMessageChat()" class="modal-action modal-close waves-effect waves-green btn-flat">Enviar</a>
            </div>
        </div>

        <!-- MODAL ENVIAR ARQUIVO -->
        <div id="sendFileChat" class="modal bottom-sheet">
            <div class="modal-content">
                <form id="formFile">
                    <div class="file-field input-field">
                        <div class="btn">
                        <span>Galeria</span>
                        <input id="formImg1" name="imagem" type="file">
                        </div>
                        <div class="file-path-wrapper">
                        <input id="formImg2" class="file-path validate" type="text">
                        </div>
                    </div>
                    <input type="hidden" id="idUserPost" name="idUser">
                    <input type="hidden" id="nameUserPost" name="login">
                    <input id="titlePostPic" placeholder="Titulo" name="post"> 
                </form>
            </div>
            <div class="modal-footer">
                <a onclick="sendFile()" class="col s12 modal-action modal-close waves-effect waves-green btn ">Enviar</a>
            </div>
        </div>


        <script src="../Materialize/js/materialize.js"></script>
        <script src="../js/modulos/chat.js"></script>
        <script src="../js/modulos/meuPerfil.js"></script>
        <script src="../js/modulos/camera.js"></script>
        <script>
            $(".button-collapse").sideNav();
        </script>
        <script>
        $(document).ready(function(){
        // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
            $('.modal').modal();
        });
        </script>
    </body>

</html>