<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
        <link rel="stylesheet" type="text/css" href="../css/telaAdmin.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat|Raleway|Ubuntu" rel="stylesheet">
        <link href="../Materialize/css/materialize.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="../js/libs/jquery.js"></script>
        <script src="../cordova.js"></script>
        <script src="../js/controllers/UserController.js"></script>
        <script src="../js/modulos/user.js"></script>

        <script src="../js/controllers/DadosController.js"></script>
        <script src="../js/modulos/adm.js"></script>
        <script src="../js/ultils/Dialog.js"></script>
        <script src="../js/ultils/DeterminateProgressDialog.js"></script>
        <script src="../js/ultils/IndeterminateProgressDialog.js"></script>
    </head>

    <body onload="loadPerfil()">

        <nav class="nav-extended">
            <div class="nav-wrapper">
                <a href="#" class="brand-logo">talk Us</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="">Sassss</a></li>
                <li><a href="">Components</a></li>
                <li><a href="../index.html">Sair</a></li>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                <li><a href="#">Sxxass</a></li>
                <li><a href="#"><i class="material-icons">share</i>Compartilhar</a></li>
                <li><a href="../index.html"><i class="material-icons">label_outline</i>Sair</a></li>
                </ul>
            </div>
            <div class="nav-content">
                <ul class="tabs tabs-transparent">
                <li class="tab"><a class="active" href="#meuPerfil"><i class="material-icons">person_pin_circle</i></a></li>
                <li class="tab"><a href="#explorar">  <i class="material-icons">explore</i></a></li>
                <li class="tab "><a href="#promo"><i class="material-icons">bookmark_border</i></a></li>
                </ul>
            </div>
        </nav>

        <div id="meuPerfil" class="col s12">
            <div class="row meuPerfil">
                <img class="col s4" id="imgPerfil" src="../img/icon.png">
                <div class="col s8">
                    <span id="mailPerfil"></span><br>
                    <span id="namePerfil"></span><br>
                    <span id="agePerfil"></span><br>
                    <a id="phonePerfil"></a>
                </div>
                <textarea placeholder="Escreva sobre você" onchange="upSobre()" class="col s12 sobre" id="sobrePerfil"></textarea>
            </div>
        </div>

        <div id="explorar" class="col s12">

        </div>

        <div id="promo" class="col s12">

        </div>





        <script src="../Materialize/js/materialize.js"></script>
        <script src="../js/modulos/meuPerfil.js"></script>
        <script>
            $(".button-collapse").sideNav();
        </script>
    </body>

</html>
